.container{
    overflow-x: hidden;
    width: 100%;
    height: 700px;
    border-left: 10px orangered solid;
    border-right: 10px solid green;
    box-sizing: border-box;
    position: relative;
}
.badal{
    width: 100%;
    height: 630px;
    background-image: url(./sky.jpg);
    background-repeat: no-repeat;
    position: relative;
    z-index: -3;
}
.road{
    background-image: url(./road.jpg);
    position: absolute;
    z-index: -1;
    bottom: 0px;
    width: 600%;
    height: 250px;
    animation-name: road;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-repeat: repeat-x;
    animation-timing-function: linear; 
}
@keyframes road {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1000px);
    }
}
.city{
    height: 240px;
    width: 600%;
    background-image: url(./city.png);
    background-repeat: repeat-x;
    position: absolute;
    bottom: 249px;
    display: block;
    z-index: 1;
    animation: city;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes city{
    100%{
        transform:translateX(-3400px);
    }
}
.sun{
    width: 55px;
    z-index: 1;
    float: right;
    position: absolute;
    top: 30px;
    right: 80px;
    animation-name: sun;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes sun {
    100%{
        transform: translateX(-300px);
    }
}
.gadi img{
    width: 250px;
    position: absolute;
    left: 30%;
    bottom: 145px;
    z-index: 1;
    animation-name: car;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes car {
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(-2px);
    }
}
.tire1 img{
    width: 50px;
    position: absolute;
    left: 465px;
    bottom: 145px;
    animation-name: wheel;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes wheel {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }   
}
.tire2 img{
    width: 50px;
    position: absolute;
    left: 618px;
    bottom: 145px;
    animation-name: wheel;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.jhanda{
    position: absolute;
    left: 620px;
    bottom: 195px;
    width: 100px;
    z-index: 1;
}